@import "home.scss";
@import "blog.scss";
@import "footer.scss";
@import "navbar.scss";
$primary: #06244d;
// linear-gradient(302.71deg, #FF6535 0%, #F79933 100%)
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap");

html {
  font-size: 100%;
  body {
    font-family: "Montserrat", sans-serif;
  }
  .btn-main {
    color: $primary;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(302.71deg, #ff6535 0%, #f79933 100%);
    outline: none;
    border: none;
  }
  .btn-main:hover {
    color: white;
  }
  .btn-main:focus {
    box-shadow: none;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 125%;
  }
}
